@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');

:root {
  --color-bg: #4b417a;
  --color-bg-black: #110f1a;
  --color-fg: #1d1b24;
  --color-accent: #716fb9;
  --color-accent-light: #8e8cd5;
  --color-text: #fff;
  --color-border: #303030;
}

* {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  background: linear-gradient(30deg, var(--color-bg-black), var(--color-bg));
}

.btn {
  width: 250px;
  height: 50px;
  line-height: 50px;
  border: 0;
  border-radius: 4px;
  font-size: 13pt;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  color: var(--color-text);
  background-color: var(--color-accent);
  transition: all 0.5s ease;

  &:hover {
    cursor: pointer;
    background-color: var(--color-accent-light);
  }
}